<html>
<template id="fk-product-swatch-brand-template">


  <meta charset="utf-8"/>
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"/>
  <title>
   {{page_title}}
   <!-- title comment
   -->
  </title>
  <meta content="{{page_description}}" name="description"/>
  <meta content="" name="author"/>
  <meta content="arnold">
  <meta content="lolbob">
  </meta>
  <link href="{{get_expiry('/static/css/shopify_theme.css')}}" rel="stylesheet"/>
  <link href="{{get_expiry('/static/css/spinner.css')}}" rel="stylesheet"/>
  <link href="{{get_expiry('/static/css/slide_switch.css')}}" rel="stylesheet"/>
  <link href="{{get_expiry('/static/css/slider.css')}}" rel="stylesheet"/>
  <link href="{{get_expiry('/static/css/chart_engine.css')}}" rel="stylesheet"/>
  <link href="{{get_expiry('/static/images/merchbot_favicon_admin.png')}}" rel="icon"/>
  <link href="{{get_expiry('/static/css/batch_main.css')}}" rel="stylesheet"/>
  <link href="{{get_expiry('/static/css/hue_slider.css')}}" rel="stylesheet"/>
  <link href="{{get_expiry('/static/css/tabs.css')}}" rel="stylesheet"/>
 </head>
 <body>
  {#
  <link href="{{get_expiry('/static/css/flags.css')}}" rel="stylesheet"/>
  #}
  <link href="{{get_expiry('/static/css/app_admin.css')}}" rel="stylesheet"/>
  <link href="{{get_expiry('/static/css/app_main.css')}}" rel="stylesheet"/>
  <link href="{{get_expiry('/static/css/popup_engine_editor.css')}}" rel="stylesheet"/>
  {#



#}



LOVE
 <li class="badge badge--status-success">
 </li>
 </html>
</template>

<template id="fk-product-swatch-brand-template">
 <li class="badge badge--status-success">
 </li>
</template>



<template id="fk-product-swatch-brand-template">
 <li class="badge badge--status-success">
 </li>
</template>
MIDDLE
<template id="fk-product-swatch-brand-template">
 <li class="badge badge--status-success">
 </li>
</template>
