LOVE
<template id="fk-product-swatch-brand-template">
 <li class="badge badge--status-success">
 </li>
</template>

<template id="fk-product-swatch-brand-template">
 <li class="badge badge--status-success">
 </li>
</template>



<template id="fk-product-swatch-brand-template">
 <li class="badge badge--status-success">
 </li>
</template>
MIDDLE
<template id="fk-product-swatch-brand-template">
 <li class="badge badge--status-success">
 </li>
</template>
HATE
